[submodule "ledger"]
	path = ledger
	url = https://github.com/certik/ledger.git
	branch = pixi
[submodule "shell"]
	path = shell
	url = https://github.com/certik/shell.git
	branch = pixi
[submodule "wasmtime"]
	path = wasmtime
	url = https://github.com/certik/wasmtime.git
	branch = pixi
